
<center>
<div class="container">
<div class="jumbotron">
<button class="btn btn-outline-info" > <%= link_to"Add a product" ,new_product_path  %></button>
<button class="btn btn-outline-info"> <%= link_to"Show all products" ,products_path %>  </button>

</div>
</div>
 </center>
