<center>
<div class="container">
<div class="jumbotron">

<div class="row">
<div class="col">
 <%= link_to image_tag("https://www.aljoumhouria.com/files/news/436/images/preview/dairy-products.jpg ", :style=> 'width:300px')  ,"http://localhost:3000/products"%>

<h3> Products </h3>
<br>
</div>
 


</div>

<br>
<br>
 


</div>
</div>
</div>
</center>