<center>
<div class="container">
<div class="jumbotron">

<div class="row">
<div class="col">
 <%= link_to image_tag("https://www.aljoumhouria.com/files/news/436/images/preview/dairy-products.jpg ", :style=> 'width:300px')  ,"http://localhost:3000/dairy"%>

<h3> Dairy </h3>
<br>
</div>
<div class="col">
 <%= link_to image_tag("https://images.alwatanvoice.com/news/large/9998902606.jpg", :style=> 'width:300px') ,"http://localhost:3000/meats"%>
<h3> Meats </h3>
<br>

</div>


</div>

<br>
<br>

<div class="row">
<div class="col">
 <%= link_to image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ_p5x5auV2J_1-TYZFcKuGBdVRAQl4r9dXLnwgDwwu07kHIs3s", :style=> 'width:300px') ,"http://localhost:3000/fruits"%>

<h3> Fruits & Vegetabels</h3>


</div>
<div class="col">
<%= link_to image_tag("https://3.bp.blogspot.com/-o6DLXdigKYA/VeTkx6j3KrI/AAAAAAAABAc/fhF_JHAEu-I/s1600/chlorine-bleach-with-ammonia-acids-detergents-compressor.jpg", :style=> 'width:300px') ,"http://localhost:3000/home"%>

 <h3> Home </h3>
</div>


</div>
</div>
</div>
</center>